.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

.myclass{
  @extend .blue, .lighten-4;
}

.full-width-image2 {
  width: 100vw;
  min-height: 100vh;
  background: url("../../assets/img/jandp-2blue.jpg") fixed;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
